<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <script type="text/javascript">
    $(document).ready(function() {
        $("#login").submit(function(event){
            event.preventDefault();
            
            
            $.ajaxSetup({
                contentType: "application/json; charset=utf-8"
            });
            $.ajax({
				type: 'GET',
                host: 'localhost',
                port: 8080,
				url: '/user',
                data: { id: 'val1',
                        name: 'val2',
                        passwort: 'val3'
                        },
                dataType: 'json',
                success: function(data){
                    $('#pruefen').replaceWith("<div id='pruefen'></div>");
                    var temp = false
                    $.each(data, function(index, element) {
                        if(element.name === $('#uname').val() && element.passwort == $('#pass').val()){
                                document.getElementById('hide').removeAttribute('style');
                                
                                $('#pruefen').replaceWith("<div  class='well' id='pruefen'><p>Eingeloggt als:<br/>UserID: " + element.id + "<br/> Username: " + element.name + " <br/></p></div>");
                                temp = true;
                        }
                    });
                    if(temp == false){
                        $('#pruefen').append("Der Benutzername oder das Passwort sind falsch!");
                    }
            }
            }).fail(function(data){
                alert("kakasd"); 
            });
        });
        $("#form").submit(function(event) {

            var newBar = {
                name: $("#name").val(),
                adresse: $("#adresse").val(),
                stadt: $("#stadt").val(),
                typ: $("#typ").val(),
                gegebenheiten: $("#gegebenheiten").val()
            };

            $.ajaxSetup({
                contentType: "application/json; charset=utf-8"
            });
            $.ajax({
				type: 'POST',
                host: 'localhost',
                port: 8080,
				url: '/add',
				data: JSON.stringify(newBar),
                success: function(data){
                }
				}).done(function(data){
				    //alert("geschafft");
                    $("#name").val('');
                    $("#adresse").val('');
                    $("#stadt").val('');
                    $("#typ").val('');
                    $("#gegebenheiten").val('');
				}).fail(function(e){
				    alert("fehler");
				});
				event.preventDefault();
            });

        });

    </script>
</head>
<body class="container">

<header>
  <% include ../partials/header %>
</header>

  <main>
    <div class="row">
			<div class="col-sm-8">
        <div class="jumbotron">
          <h1>Kneipentour</h1>
          <p>Der schnellste Weg zum Kater</p>
        </div>
      </div>
        <div class="col-sm-4">
				<div class="well" id='log'>
							<p>Einloggen:</p>
                    <form id='login' method="POST">
                <label for="name">Username: </label> <br/> <input id="uname" type="text" required><br>
                <label for="pass">Passwort: </label> <br/> <input id="pass" type="password" required><br>
                <input type="submit" value="Login">
                <p id='pruefen'></p>
              </form>
        </div>
      </div>
      <div class="col-sm-4">
				<div class="well" id='hide' style="display:none">
                    <form id="form" method="POST">
                        <label for="name">Barname: </label><br/> <input id="name" type="text" required ><br>
                        <label for="adresse">Adresse: </label><br/> <input id="adresse" type="text" required><br>
                        <label for="stadt">Stadt: </label> <br/> <input id="stadt" type="text" required><br>
                        <label for="typ">Typ: </label> <br/> <input id="typ" type="text" required><br>
                        <label for="gegebenheiten">Gegebenheiten: </label>  <br/> <input id="gegebenheiten" type="text" required><br><br>
                        <input type="submit" id="test" value="ADD">
                    </form>
				    <p>Es dürfen keine Felder frei bleiben.</p>
                </div>
                
      </div>
        <div class='col-sm-8' id="new">
                        
                </div>
    </div>

  </main>

    <footer>
  		<% include ../partials/footer %>
    </footer>

</body>
</html>
