<!DOCTYPE html>
<html lang="en">
    <script>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    </script>
    
    <head>
	   <% include ./views/partials/head.ejs %>
    </head>
    <body class="container">
            
	<header>
		<% include ./views/partials/header.ejs %>
	</header>


  
        <main>
            <div class="jumbotron">
                <h1>Kneipentour</h1>
            </div>
        </main>
        <h1>Profil von <%= bars.userID %></h1>
        <ul>
          <li><%= bars.bid %></li>
          <li><%= bars.name %></li>
        </ul>
    <footer>
        <% include ./views/partials/footer.ejs %>
    </footer>

    </body>
</html>
