<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
    <script>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    </script>
    
    <head>
	   <% include ./views/partials/head.ejs %>
    </head>
    <body class="container">
            
	<header>
		<% include ./views/partials/header.ejs %>
	</header>


  
        <main>
            <div class="jumbotron">
                <h1>Kneipentour</h1>
            </div>
        </main>
        <%
        for(var i = 0; i < bars.length; i++){%>
            <h1>Profil von <%= bars[i].userID %></h1>
            <ul>
                <li><%= bars[i].id %></li>
                <li><%= bars[i].name %></li>
            </ul><%
        }
        %>
=======
<head>
	<% include ../partials/head %>
</head>
<body class="container">

<header>
  <% include ../partials/header %>
</header>

  <main>
      <div class="jumbotron">
        <h1>Kneipentour</h1>
      </div>

    </main>

>>>>>>> origin/master
    <footer>
        <% include ./views/partials/footer.ejs %>
    </footer>

    </body>
</html>
