<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <script type="text/javascript">
    $(document).ready(function() {
        $("#form").submit(function(event) {

            var newUser = {
                name: $("#name").val(),
                passwort: $("#passwort").val()
            };

            $.ajaxSetup({
                contentType: "application/json; charset=utf-8"
            });
            $.ajax({
				type: 'POST',
                host: 'localhost',
                port: 8080,
				url: '/register',
				data: JSON.stringify(newUser),
				}).done(function(data){
				    //alert("geschafft");
                    $("#name").val('');
                    $("#passwort").val('');
      	}).fail(function(e){
				    alert("fehler");
				});
				event.preventDefault();
            });

        });

    </script>
</head>
<body class="container">

<header>
  <% include ../partials/header %>
</header>

  <main>
    <div class="row">
			<div class="col-sm-8">
        <div class="jumbotron">
          <h1>Kneipentour</h1>
          <p>Der schnellste Weg zum Kater</p>
        </div>
      </div>
      <div class="col-sm-4">
<!-- Passwort bestätigen noch hinzufügen -->
				<div class="well">
                    <p>Neuen Nutzer registrieren:</p>
                    <form id="form" method="POST">
                      Username: <br/> <input id="name" type="text"><br>
                      Passwort: <br/> <input id="passwort" type="password"><br>
                        <input type="submit" value="Registrieren">
                    </form>
                </div>
      </div>
    </div>

  </main>

    <footer>
  		<% include ../partials/footer %>
    </footer>

</body>
</html>
