<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">


	<header>
		<% include ../partials/header %>
	</header>


  <main>
        <div class="jumbotron">
          <h1>Kneipentour</h1>
					<form>
						<br><br><br>Bar suchen: <input type='text' id='bar' name='bar'>
						<input type='submit' value='Suche' name='submit'>
					</form>
    		</div>

    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

</body>
</html>
