<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">KT</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/search">Suche</a></li>
			<li><a href="/bars">Bars</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/login">Login</a></li>
            <li><a href="/add">Add</a></li>
		</ul>

	</div>
</nav>
